@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {
    font-size: 13px;

    --sidenavColor: #111B24;
    --mainColor: #1E272D;
    --asideColor: #2c3e50;

    --neon: #A1B2C3;
    --monochrome: #65748B;
    --forestNight: #5A7C5E;
    --deepSea: #6fa3e8;
    --highlightColor: var(--deepSea);
    --buttonColor: #A1B2C3;

    --lowPriority:  #3498db    ;
    --mediumPriority: #f39c12  ;
    --highPriority: #e74c3c ;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

button:hover {
    cursor: pointer;
}

/*--------------------- Sidenav ---------------------------------*/
.sidenavContainer {
    position: fixed;
    width: 0;
    overflow: hidden;
    height: 100vh;
    transition: width 0.4s;
}

.sidenav {
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    row-gap: 10px;
    background-color: var(--sidenavColor);
}

#closeSidenav {
    width: 40px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: var(--buttonColor);
}

#search {
    width: 90%;
    height: 40px;
    padding-left: 4px;
    border-radius: 4px;
    background-color: lightgray;
}

#addProject {
    color: var(--highlightColor);
    padding: 10px 0;
    font-size: 1.3rem;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    width: 90%;
    transition: background-color 0.2s;
}

.projects {
    list-style: none;
    transition: width 0.4s;
}

.projects li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    width: 90%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 4px;
    transition: background-color 0.2s, border 0.1s;
}

.projects .title {
    color: #A1B2C3;
    font-size: 1.2rem;
}

.projects .taskCount{
    font-family: 'Roboto', monospace;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #111B24;
    background-color: rgb(194, 194, 194);
    font-weight: bold;
}

.default {
    border-bottom: 1px solid whitesmoke;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.user {
    overflow: hidden auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid whitesmoke;
}

.user::-webkit-scrollbar {
    width: 8px;
}

.user::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}

.user::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: lightgreen;
}

#closeSidenav:hover, #addProject:hover {
    background-color: rgba(183, 179, 179, 0.3);
} 

.projects li:hover {
    color: white;
    background-color: rgba(183, 179, 179, 0.3);
    border-left: 4px solid blue;
}

/* ----------------------------------------------------------- */

/* -----------------Main------------------------------------- */

.main {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;  
    padding: 20px;
    row-gap: 20px;
    background-color: var(--mainColor);
}

#openSidenav {
    justify-self: start;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

#openSidenav:hover {
    border: 1px solid lightgray;
    border-radius: 4px;
    transition: border 0.2s;
}

.projectInfo {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.projectTitle {
    color: var(--highlightColor);
    font-size: 2rem;
}

.btnGroup {
    display: flex;
    align-items: center;
}

.btnGroup img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.btnGroup img:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
}

.tasklist {
    list-style: none;
    overflow: hidden auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 80px);
    row-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: 80px;
}

.tasklist li {
    width: 95%;
    display: grid;
    grid-template-columns: 40px minmax(180px, 1fr) 60px;
    grid-template-rows: 1fr 1fr;
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.tasklist::-webkit-scrollbar {
    width: 10px;
}

.tasklist::-webkit-scrollbar-track {
    background: black;
    border-radius: 6px;
}

.tasklist::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 6px;
    border: 1px solid black;
}

.addTask {
    width: 95%;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    background-color: gray;
    color: black;
    font-size: 1.5rem;
    text-align: left;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.addTask::before {
    content: '+';
    font-size: 2rem;
    justify-self: center;
}

.taskItem .checkbox {
    grid-column: 1;
    grid-row: 1 / 3;

    width: 20px;
    height: 20px;

    place-self: center;
}

.taskItem .title_main {
    overflow-wrap: break-word;
}

.taskItem .duedate_main {
    grid-column: 2;
    grid-row: 2;
}

.taskItem .deleteTask_main {
    grid-row: 1 / 3;

    width: 40px;
    height: 40px;

    place-self: center;
    color: lightgray;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: rgb(47, 47, 47);
}

.taskItem[data-is-Complete="true"]{
    & .title_main, .duedate_main{
        text-decoration: line-through;
    }
}

.taskItem[data-priority="Low"]{
    background-color: var(--lowPriority);
}

.taskItem[data-priority="Medium"]{
    background-color: var(--mediumPriority);
}

.taskItem[data-priority="High"]{
    background-color: var(--highPriority);
}

.emptyList{
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: #ecf0f1;
}

/* ----------------Aside------------------- */

.asideContainer {
    width: 0;
    overflow: hidden;
    position: fixed;
    right: 0;  
    height: 100vh;
    transition: width 0.4s;
}

.aside {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto 2fr auto auto auto 1fr;
    row-gap: 10px;
    background-color: var(--asideColor);
    color: lightgray;
}

.closeAside {
    justify-self: end;
    width: 40px;
    font-size: 2rem;
    border: none;
    color: var(--buttonColor);
    background-color: transparent;
}

.closeAside:hover {
    border-radius: 4px;
    background-color: rgba(183, 179, 179, 0.3);   
}

.taskInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.taskTitle {
    max-width: 160px;
    justify-self: left;
    overflow-wrap: break-word;
    color: #ecf0f1; 
}

.checklist {
    overflow:  hidden auto;
    border: 1px solid black;
    padding: 4px;
    padding-left: 20px;
    border-radius: 4px;
}

.editChecklist {
    color: black;
    text-align: left;
    border: none;
    border-radius: 4px;
    background-color: rgb(194, 194, 194);
    padding-left: 10px;
    font-size: 1.2rem;
}

.editChecklist::before {
    content: '+ ';
    font-size: 1.2rem;
}

.note {
    color: #bdc3c7;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    overflow: hidden auto;
    overflow-wrap: break-word;
}

/* -------------------Media Queries-------------- */

@media  screen and (min-width: 900px) {

    #closeSidenav, #openSidenav {
        display: none;
    }

    .wrapper {
        grid-template-columns: auto 1fr auto;
    }

    .sidenavContainer {
        position: static;
        width: 280px;
    }

    .sidenav {
        grid-template-rows: auto auto 1fr auto;
    }

    .main {
        grid-template-rows: auto 1fr auto;
    }

    .asideContainer {
        position: static;
    }
    
}